@{
    Layout = null;
}

<h2>@(PureCms.Services.Plugins.PluginService.GetPluginBySystemName("alipay").ClassFullName)</h2>
<a href="plugin-Alipay-Configure-Configure">Configure</a>
<a href="plugin-Alipay-Entry-Entry">Entry</a>