<?xml version="1.0" encoding="utf-8"?>
<PluginDescriptor xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <SystemName>alipay</SystemName>
  <FriendlyName>支付宝</FriendlyName>
  <ClassFullName>PureCms.Plugin.Pay.Alipay.PluginService,PureCms.Plugin.Pay.Alipay</ClassFullName>
  <FolderName>PureCms.Plugin.Pay.Alipay</FolderName>
  <Namespace>PureCms.Plugin.Pay.Alipay</Namespace>
  <Description>阿里巴巴旗下支付工具</Description>
  <Type>1</Type>
  <Author>PureCms</Author>
  <Version>1.2</Version>
  <MinVersion>1.9.000</MinVersion>
  <DisplayOrder>3</DisplayOrder>
  <Url>http://www.purecms.com</Url>
  <Group>pay</Group>
  <ConfigureControllerName>Configure</ConfigureControllerName>
  <ConfigureActionName>Configure</ConfigureActionName>
  <EntryControllerName>Entry</EntryControllerName>
  <EntryActionName>Entry</EntryActionName>
</PluginDescriptor>