<?xml version="1.0"?>
<PlatformSetting xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <SiteName>testddd</SiteName>
  <Url>127.0.0.1</Url>
  <Status>0</Status>
  <ClosedReason>abc.....d</ClosedReason>
  <ImageCDN></ImageCDN>
  <CSSCDN></CSSCDN>
  <ScriptCDN></ScriptCDN>
</PlatformSetting>